/* {
  border-top: 10px solid #1098ad; 
}*/

body {
  color: #444;
  font-family: sans-serif;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
  padding: 20px 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30;
  color: #1098ad;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;

  line-height: 1.5;
}

li {
  font-size: 20px;
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

/* 
.first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* li:nth-child(even) {
  
} */

/* Misconception this won`t work! */
/* article p:first-child {
  color: red;
} */

/* Styling links */

a:link {
  text-decoration: none;
  color: chartreuse;
}

a:visited {
  /* color: #777; */
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* LVHA */

/* Resolving conflicts */
/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
}; */

/* nav a:link {
  font-size: 18px;
} */

nav {
  font-size: 18px;
}
